
.neumorphism-button-xl-light {
  background: #dbeafe;
  border: none;
  border-radius: 12px;
  box-shadow: 6px 6px 12px #bebebe,
              -6px -6px 12px #ffffff;
  font-size: large;
  font-weight:600;
  padding: 20px 40px;
  transition: all 0.3s ease;
}

.neumorphism-button-xl-light:hover {
  background: #bfcddf;
  border-radius: 12px;
  box-shadow: 4px 4px 8px #bebebe,
              -4px -4px 8px #ffffff;
  transition: all 0.3s ease;
}

.neumorphism-button-xl-light:active {
  background: #dbeafe;
  box-shadow: inset 5px 5px 10px #bebebe,
              inset -5px -5px 10px #ffffff;
  transition: all 0.1s ease;
}

.neumorphism-button-normal-blue {
  background: #7476ff;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  margin: 2px 10px;
  box-shadow: 4px 4px 8px #bebebe,
              -4px -4px 8px #ffffff;
  color: #ffffff;
  transition: all 0.3s ease;
}

.neumorphism-button-normal-blue:hover {
  background: #373bff;
  box-shadow: 2px 2px 4px #bebebe,
              -2px -2px 4px #ffffff;
  transition: all 0.3s ease;
}

.neumorphism-button-normal-blue:active {
  background: #7476ff;
  box-shadow: inset 3px 3px 6px #5658b9,
              inset -3px -3px 6px #a9aaff;
  transition: all 0.1s ease;
}

.neumorphism-button-normal-red {
  background: #ff7474;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  margin: 2px 10px;
  box-shadow: 4px 4px 8px #bebebe,
              -4px -4px 8px #ffffff;
  color: #ffffff;
  transition: all 0.3s ease;
}

.neumorphism-button-normal-red:hover {
  background: #ff3737;
  box-shadow: 2px 2px 4px #bebebe,
              -2px -2px 4px #ffffff;
  transition: all 0.3s ease;
}

.neumorphism-button-normal-red:active {
  background: #ff7474;
  box-shadow: inset 3px 3px 6px #b95656,
              inset -3px -3px 6px #ffa9a9;
  transition: all 0.1s ease;
}

.neumorphism-card-modal {
  background: #dbeafe;
  border-radius: 20px;
  box-shadow: 8px 8px 16px #bebebe,
              -8px -8px 16px #ffffff;
  padding: 60px;
  width: 50%;
}

.neumorphism-card {
  background: #dbeafe;
  border-radius: 12px;
  box-shadow: 8px 8px 16px #bebebe,
              -8px -8px 16px #ffffff;
  padding: 30px;
  border: none;
}

.neumorphism-on-small-item {
  background: #dbeafe;
  box-shadow: 4px 4px 8px #bebebe,
              -4px -4px 8px #ffffff;
}

.neumo-letter {
  font-size: 80px;
  font-weight: 700;
  color: #dbeafe;
  margin: 10px;
  text-shadow: 4px 4px 8px #bebebe,
              -4px -4px 8px #ffffff;
}

.page {
  min-height: 100vh;
  padding-bottom: 41px;
  background: #dbeafe;
}

.body {
    padding-top: 41px;  /* hay que sumar la altura del header 41px + 95px */
    margin-bottom: 41px;
    margin-left: 171px;
    margin-right: 171px;
}

.body > * + * {
  margin-top: 41px;
}

.neumorphism-input {
  appearance: none;
  background: #dbeafe;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  box-shadow: inset 3px 3px 6px #bebebe,
              inset -3px -3px 6px #ffffff;
  width: 100%;
  color: #333;
  cursor: text;
}

.neumorphism-input:focus-within {
  outline: none;
  box-shadow: 4px 4px 6px #1048ff,
              -4px -4px 6px #1048ff,
              4px -4px 6px #1048ff,
              -4px 4px 6px #1048ff;
}

.neumorphism-input-select {
  cursor: pointer;
}
